logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
.env
junit.xml
test-report.html
jest-stare/
.dist/
_dist/
.vscode
.history
.yarn/install-state.gz

.yarn/cache
.config*.json
